<ul class="nav navbar-nav navbar-right">
  <li><a href="<%=edit_user_registration_path%>" title="Display/Edit Profile"><i class="fa fa-cogs"></i> <%=user.first_name%></a></li>
  <li><a title="Logout" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>