<%= render partial: "partials/devise_navbar" %>

<div class="container content page-wrapper pagepad">
  <%= render "partials/flash" %>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-train" aria-hidden="true"></i> Welcome to MCI 
        </h4>
      </div>
      <div class="panel-body">
      If Reporter:</br>
      __Show status for today</br>
      __If out of window: </br>
      ____show info about window - 7-10PM. </br>
      ____Show previous report?</br>
      ____Show countdown?</br>
      ____Show self-report & feedback stats?</br>
      __If in window:</br>
      ____If already reported:</br>
      ______If not reviewed: Show report one side, with edit button</br>
      ______If not reviewed: Show report one side, and feedback on another</br>
      ____Else:</br>
      ______Show options for new report (form)</br>

      If Reviewer:</br>
      __Show stats for today.</br>
      __If out of window: </br>
      ____show info about windows - 7-10PM and 10-11PM.</br>
      ____Show previous feedback?</br>
      ____Show countdown?</br>
      ____Show feedback stats?</br>
      __If in Window1:</br>
      ____If has not reviewed anyone:</br>
      ______Show list of unreviewed reports with button to review any</br>
      ______Show info for window2</br>
      ____If has already reviewed someone:</br>
      ______Show info about window2</br>
      __If in window2:</br>
      ____Show list of unreviewed reports with button to review any</br>

      </div>
    </div>
</div>
