<%= render partial: "partials/devise_navbar" %>

<!--                               CONTENT                -->
<main class="bs-docs-masthead"> 
<%= render "partials/flash" %>
  <div class="container pagepad page-wrapper">
    <img src="assets/Research_flow_chart.png" alt="Transparency" class="img-thumbnail"><br/>
    <strong class="logo_text" style="font-size: 55px !important;">MCI</strong>
    <p class="lead">Peer Feedback</p> 
    <p class="lead"> 
      <a href="<%= new_user_session_url %>" class="btn btn-outline-inverse btn-lg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Get Started</a>
    </p> 
  </div> 
</main>


  <div class="container content page-wrapper pagepad">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-flask" aria-hidden="true"></i> Peer Feedback App <span class="badge"></span>
        
        </h4>
      </div>
      <div class="panel-body">
      <div class="list-group tableItem">
        <%=  %>
      </div>
      </div>
    </div>
  </div>