	<a href="<%= new_feedback_url(report_id:report.id)%>" class="list-group-item"><i class="fa fa-pie-chart" aria-hidden="true"></i> <%= "Review Report #{report.id} from User: #{report.user_id}." %></a>
